#game-main-container {
  float: left;
  width: 70%;
}
/* #game-sidebar-container {
  width: 30%;
} */
.game-container {
  clear: both;
  overflow: auto;
}
#game-forca-img {
  float: left;
}
#game-forca-img img{
  height: 100px;
}
.contaier-margin {
  margin: 0 10px 0 0;
}
#wrong-guesses,
#game-status-result {
  display: inline-block;
  margin-left: 30px;
}
.game-letter {
  float: left;
}
p {
  color: gray;
  font-size: 28px;
  margin: 0 10px 0 0;
}
#game-wrong-guess-container {
  margin-top: 30px;
}
#wrong-label {
  float: left;
}
#game-status-label {
  float: left;
}
.subsection-label {
  font-size: 28px;
  font-weight: bold;
}
.active-player {
  font-weight: bold;
  color: blue;
}
.hidden {
  display: none;
}